# Ignore build output directories
/bin/
/obj/

# Ignore generated Emscripten web files
/app.html
/app.js
/app.wasm
/app.data

# Ignore common editor/OS files
.vscode/
*.swp
*~
*.o
.DS_Store

!template.html